header {
    background-image: url(../images/bg.png);
}

.title {
    padding: 240px 0 270px 0;
}

.title h1 {
    font-size: 48px;
    color: #735440;
}

.title button {
    margin-top: 75px;
    width: 160px;
    height: 55px;
    background-color: #57984C;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 20px, 30px;
}

.title button:hover {
    background-color: #67b15a;
    transition: all 0.3s ease;
}

.products {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 20px;
    background-color: #fff;
}

.vision {
    background-image: url('../images/Union.png');
    padding-top: 50px;
}

.vision__title {
    font-size: 64px;
}

.vision__text {
    font-size: 20px;
    padding-top: 20px;
}



.vision__img img {
    width: 100%;
    box-shadow: 14px 14px 8px 0px rgba(34, 60, 80, 0.06);
}

.vision__2 {
    padding: 100px 0;
}

#btn_sub {
    margin-bottom: 20px;
}

.mainActiv {
    text-align: center;
}

.mainActiv__title {
    margin-top: 95px;
}

.mainActiv__product h2 {
    font-size: 24px;
    color: #57984C;
}

.mainActiv__product p {
    font-size: 18px;
    margin-bottom: 95px;
}

.mainActiv__img {
    margin-bottom: 40px;
}

.mainActiv__img img {
    width: 100%;
}

.mainActiv__line {
    padding: 10px 0;
}

@media (min-width: 768px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
      width: 100%;
      *width: 100%;
    }
}
  
@media (min-width: 992px) {
.seven-cols .col-md-1,
.seven-cols .col-sm-1,
.seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
flex:none !important;
}
}

@media (min-width: 1200px) {
.seven-cols .col-md-1,
.seven-cols .col-sm-1,
.seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
flex:none !important;
}
}