@font-face {
    font-family: "RotondaBold";
    src: url("../fonts/RotondaBold.svg#RotondaBlod") format("svg"),
         url("../fonts/RotondaBold.ttf") format("truetype"),
         url("../fonts/RotondaBold.woff") format("woff");
    font-weight: normal;
    font-style: normal;


}
@font-face {
    font-family: "RotondaMedium";
    src: url("../fonts/RotondaMedium.svg#RotondaMedium") format("svg"),
         url("../fonts/RotondaMedium.ttf") format("truetype"),
         url("../fonts/RotondaMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab-Regular.woff') format('woff'),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype'),
        url('../fonts/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype'),
        url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Roboto Slab';
    color: #324950;
    background-color: #EDEDED;
}

h1, h2, h3 {
    font-family: 'RotondaBold';
}

button {
    font-family: "RotondaMedium";
    cursor: pointer;
}

input:focus, button:focus, textarea:focus {
    outline: none;

}

.menu {
    padding-top: 50px;
}
header {
    padding-top: 19px;
}

li {
    list-style-type: none;
}


.redText {
    color: #CF2333;
    font-weight: normal;
}

.logo img {
    height: 100px;
}

.menu_item {
    margin: 0 13px;
}

.menu_item a {
    font-size: 18px;
    color: #324950;
    font-family: 'Roboto';
    font-weight: bold;
}

.openMenu {
    visibility: hidden;
}

.closeMenu {
    display: none;
    width: 25px;
    margin-right: 10px;
    margin-top: 5px;
}

.burgerMenu {
    z-index: 10;
    position: absolute;
    right: 0;
    
}
.burgerMenu img {
    height: 40px;
}
.menuUp {
    display: none;
}

.menuDown {
    display: block;
}

.active {
    z-index: 3;
    position: absolute;
    background-color: #324950; 
    width: 100%;
    right: 0;
}

.active a {
    color: #fff;
}

.active li {
    padding-bottom: 30px;
}

.active.openMenu {
    display: none;
}


.search {
    border: 1px;
    float: right;
    padding-top: 20px;
}


.search input[type=text] {
    font-size: 17px;
    border: none;
    float: left;
    background: transparent;
    height: 27px;
    border-bottom: 1px solid #324950;
    margin-left: 15px;

  }
  

 .search button {
    float: left;
    background: transparent;
    border: none;
    font-size: 17px;
    border-bottom: 1px solid #324950;
    height: 27px;
  }

  .search img {
      margin-top: -5px;
  }



.fooFirst {
    background-color: #2D3F45;
    padding-top: 5px;
}

.fooFirst .row {
    margin-top: 10px;
}

.fooItem {
    margin: 0 13px;
    margin-top: 5px;
}

.fooItem a {
    font-family: 'Roboto';
    color: #fff;
    font-size: 16px;
}

.fooLink {
    margin: 0 13px;
}

.greenText {
    color: #57984C;
}

.fooMenu {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #324950;
    color: #B9B9B9;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 10px 0;
}

@media (max-width: 1060px){
    .fooLink {
        margin: 0 5px;
    }
}

@media (max-width: 991px){
    .logo {
        display: flex;
        justify-content: center;
    }
    .search {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .menu_item {
        margin-top: -25px;
    }

    .fooItem {
        margin: 0 5px;
    }
    .fooLink {
        margin-bottom: 15px;
    }
    .openMenu {
        visibility: visible;
    }
    .menuUp{
        display: none;
    }


}
@media (max-width: 767px){
    .menu_item a {
        font-size: 16px;
    }
    .menu_item {
        margin: 0 5px;
    }
    .fooItem a {
        font-size: 14px;
    }
    .fooMenu {
        display: block;
        margin-left: -20px;
        text-align: center;
        }
    .search {
        margin-bottom: -30px;
    }
}
@media (max-width: 575px){
    .burgerMenu {
        margin-right: 25px;
    }
}
@media (max-width: 403px){
    .burgerMenu {
        margin-right: 25px;
    }
    .search input {
        width: 70%;
    }
}
/* Main page */
header {
    background-image: url(../images/bg.png);
    background-position: center;
}

.title {
    padding: 240px 0 270px 0;
}

.title h1 {
    font-size: 48px;
    color: #735440;
}

.title button {
    margin-top: 75px;
    width: 160px;
    height: 55px;
    background-color: #57984C;
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 20px, 30px;
}

.title button:hover {
    background-color: #67b15a;
    transition: all 0.3s ease;
}

.products {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 20px;
    background-color: #f0fcf2;
}

.vision {
    background-image: url('../images/Union.png');
    padding-top: 50px;
}

.visTitle {
    font-size: 64px;
}

.visText {
    font-size: 20px;
    padding-top: 20px;
}

.visImg img {
    width: 100%;
    box-shadow: 14px 14px 8px 0px rgba(34, 60, 80, 0.06);
}

.vision_2 {
    padding: 100px 0;
}

#btn_sub {
    margin-bottom: 20px;
}

#white{
    background-color: #FFFFFF;
}

.mainActiv {
    text-align: center;
}

.ActivTitle {
    margin-top: 95px;
}

.Activ_product h2 {
    font-size: 24px;
    color: #57984C;
}

.Activ_product a{
    text-decoration-line: none;
    color: #324950;
}

.Activ_product p {
    font-size: 18px;
    margin-bottom: 95px;
}

.ActivImg {
    margin-bottom: 40px;
}

.ActivImg img {
    width: 100%;
}

.ActivLine {
    padding: 10px 0;
}


@media (max-width: 991px){

    .Activ_product p {
        margin-bottom: 0px;
    }
    
    .ActivImg {
        margin-bottom: -50px;
    }

    .Activ_last {
        margin-bottom: 30px;
    }
    
}

@media (max-width: 991px){

    .title {
        padding: 70px 0 90px 0;
    }
    .vision {
        text-align: center;
    }
    .visImg {
        padding-top: 50px;
    }


}
@media (max-width: 767px){
    .prodItem img {
        max-height: 250px;
    }
    header {
        background-position: bottom;
    }
    .visImg img {
        width: 100%;
    }
    .title h1 {
        font-size: 32px;
    }

    .visTitle h1{
        font-size: 24px;
    }

    .visText h1{
        font-size: 18px;
    }

    .ActivTitle h1{
        font-size: 32px;
    }
    
}

@media (min-width: 768px){
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1  {
      width: 100%;
      *width: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
      max-width: 14.285714285714285714285714285714% !important;
  flex:none !important;
    }
  }
   
  @media (min-width: 1200px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
      width: 14.285714285714285714285714285714%;
      *width: 14.285714285714285714285714285714%;
      max-width: 14.285714285714285714285714285714% !important;
  flex:none !important;
    }
}
/* tomatoAll*/
#tomatoAll{
    background-color: #FFFFFF;
    background-image: none;
}

section {
    background-color: #f0fcf2;
    ;
}

hr {
    background-color: #324950;
}

p {
    font-size: 17px;
}

.header {
    background-color: #fff;
    max-height: 850px;
}

.headerImg {
    background-image: url(../images/pepers/bgAll.webp);
    height: 480px;
    background-position: center;
}

.visionMission .titlText {
    font-size: 44px;
}

.visionMission {
    padding-top: 50px;
    padding-bottom: 25px;
}

.crosses {
    margin-bottom: 30px;
}

.borderedLeft {
    border-left: 3px solid #57eb6b;
}

.borderedLeft .borderedLeft_text {
    margin-left: 25px;
}

.markets h2 {
    font-size: 20px;
    max-width: 290px;
}

.markets .container {
    background-color: #fff;
}

.markets_items {
    padding-top: 55px;
    padding-bottom: 20px;
}

.products {
    padding-top: 40px;
    padding-bottom: 20px;
}

.products .items {
    text-align: center;
    padding-top: 40px;
}

.products .item {
    color: #57984C;
    font-size: 16px;
    margin-top: 15px;
}

.products .item img {
    width: 100%;
}

.products .item_text {
    background-color: #fff;
    padding-top: 5px;
}

.products h2 {
    font-size: 20px;
}

.products p {
    margin-top: 5px;
    padding-bottom: 5px;
}

.products a {
    color:#57984C;
}

.products a:hover {
    outline: none;
    text-decoration: none;
}

@media (max-width: 767px){
    .headerImg {
        height: 240px;
        background-position: top;
        background-size: 300%;
    }
    .visionMission .titlText {
        text-align: center;
    }
    .crosses {
        display: flex;
        justify-content: center;
    }
    .search {
        margin-bottom: 20px;
    }

}
/* tomatoOne*/
.tomatoOne {
    background-image: url(../images/tomatoOne/tomatoOneBg.svg);
    background-color: #dff8eb;
    padding-top: 18px;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    background-color: #fff;
    box-shadow: 0px 1px 20px rgb(212, 212, 212);
    position: relative;
    z-index: 999;
}

.logo a img{
    height: 80px;
}

.goBack a {
    font-size: 14px;
    color: #57984C;
}

.tomatoOne .container-fluid{
    padding: 0px;
    width: 65%;
}

.goBack {
    margin-bottom: 18px;
}

.goBack img {
    margin-right: 10px;
}

.tomatoOne {
    padding-bottom: 170px;
}

.tomatoOne .titlText h1, h2{
    font-size: 54px;
}

.tomatoOne .titlText h2{
    color: #57984C;
}

.qulity {
    padding-top: 45px;
}

.crosses {
    padding: 20px 0px 20px 0px;
}

.quality_text {
    color: #CF2333;
    font-size: 30px; 
}

.tomatoImage {
    margin-top: 10px;
}

.tomatoImage img {
    width: 100%;
}

.textBlock {
    font-size: 20px;
}

.textBlock_item {
    margin-top: 40px;
    line-height: 2;
}

.textBlock_item ul{
    margin-top: 20px;
    margin-left: 20px;
}

.textBlock_item h3 {
    font-size: 20px;
    color: #57984C;
}

.textBlock_item hr {
    background-color: #57984C;
    
}

.textBlock_item b {
    font-size: 20px;
}

.textBlock_item li {
    list-style-type:disc;
    color: #57984C;
}

.textBlock_item span, .textBlock_item p{
    color: #2a7e2e;
    font-size: 17px;
}

.download {
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
}

.download button {
    background-color: transparent;
    padding: 8px 30px;
    border: 3px solid #57984C;
    box-sizing: border-box;
    border-radius: 60px;
}

.download button:hover {
    background-color: rgb(87, 152, 76, 0.1);
}

.download span {
    font-family: 'Roboto Slab';
    padding-left: 10px;
    color: #57984C;
    font-weight: bold;
    font-size: 15px;
}

#Centre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.download button img {
    height: 25px;
}
@media (max-width: 768px){

    .tomatoOne .titlText h1, h2 {
        font-size: 24px;
    }
    .quality_text {
        font-size: 20px;
    }
    #Centre{
        text-align: center;
    }
    
}
/* contactUs*/
.headerImgUs {
    background-image: url(../images/contactUs/image7.png);
    height: 48vh;
    background-position: center;
}

.logo a img{
    height: 80px;
}

.headerContact {
    background-color: #fff;
}

.contactUs {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(240, 240, 240);
}

.contactUs_title {
    font-size: 44px;
}

.contactUs_item input, textarea {
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 10px;
    width: 100%;
    padding: 13px;
}

.contactUs_item select {
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 10px;
    width: 100%;
    padding: 16px;
}

.contactUs_item textarea {
    height: 387px;
    resize: none;
}

.code_button button {
    background-color: #57984C;
    border: 0px;
    border-radius: 60px;
    padding: 13px 60px 13px 60px;
    color: #fff;
    cursor: pointer;
}

.code_button button:hover {
    background: #67b15a;
}


.contactUs_item {
    padding-top: 20px;
}

.contactUs_Name {
    font-size: 17px;
}

.address {
    background-color: #fff;
    padding: 50px 0;
}

.address p {
    margin-bottom: 0;
}

.address h3 {
    font-size: 20px;
    color: #57984C;
}

.address_text {
    text-align: center;
}

.address_text .line {
    padding: 20px;
}
#contactUs{
    padding-left: 15px;
}
/* ------------------- */

@media (max-width: 768px){

        .menuDown{
            display: none;
        }
        .burgerMenu {
            display: block;
        }
        
    }